$font: 'Poppins' !default;
$colorMenu: #7d8e88 !default;
$colorHover: #D3B47A !default;
$colorT: #264239 !default;
$olivLink: #7d8e88 !default;
$olivLinkHover: #bd965f !default;
$lisc1: url(../images/lisc.jpg) !default; 